.register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    .text-center{
        color: rgb(255, 94, 0);
    }
    
    .register-form {
        width: 450px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .register-form label {
        font-weight: bold;
    }
    
    .register-form .form-group {
        margin-bottom: 15px;
    }
    
    .register-form input[type='text'],
    .register-form input[type='email'],
    .register-form input[type='password'] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .register-form button[type='submit'] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #eda366;
        color: #000000;
        cursor: pointer;
    }
    
    .register-form button[type='submit']:hover {
        background-color: #eda366;
    }
    